.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5rem;
  padding: 3rem 5rem;
  border-radius: 2rem;
  background-position: -8rem;
  background-blend-mode: soft-light;
  background-image: url("/public/img/backgrounds/clouds.png");
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
}

.isDay {
  background-color: var(--lightblue);
  color: var(--blue);
}

.isNight {
  background-color: var(--darkblue);
  color: var(--bg);
}

.isRaining {
  background-image: url("/public/img/backgrounds/clouds-rain.png");
}

.isStorm {
  background-image: url("/public/img/backgrounds/thunderstorm.png");
  background-color: slategrey;
  color: var(--bg);
}

.city i {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.temperature {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15rem;
  font-weight: 300;
  text-align: center;
}

.location {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.location__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.city {
  font-size: 3rem;
  font-weight: 300;
  display: flex;
  align-items: baseline;
}

.condition {
  width: 10rem;
}

.location-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.description {
  text-transform: capitalize;
  font-size: 3rem;
  text-align: center;
}

.conditions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  gap: 5rem;
}

.item {
  border-radius: 2rem;
  display: flex;
  width: 15rem;
  padding: 2rem 0;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.item__title {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 400;
}

.item__value {
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 500;
}

.item i {
  font-size: 3rem;
}

.temp {
  width: 100%;
  margin: 0 2rem;
}

@media screen and (max-width: 720px) {
  .conditions {
    align-items: center;
    justify-items: center;
    gap: 2rem;
    padding: 0 2.5rem;
  }

  .item__title {
    font-size: 1.8rem;
  }

  .card {
    margin: 0 2rem;
    width: 100%;
		z-index: 0;
		height: 95vh;
		padding: 0 2rem;
		margin: 0 5rem;
		gap: 5rem;
  }

  .temp {
    padding: 2rem 0;
  }
}