.app {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	align-items: center;
}

.header {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
  padding: 2rem 0;
	top: 0;
}

.search {
	display: flex;
	width: 80%;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.social,
.footer_social {
	font-size: 2.5rem;
	display: flex;
	gap: 3rem;
	color: var(--font);
}

.social a,
.footer_social a {
	color: var(--font);
	opacity: 0.8;
	transition: 0.2s;
}

.social a:hover,
.footer_social a:hover {
	transform: scale(0.95);
}

.footer {
	display: none;
}

@media screen and (max-width: 720px) {
	.app {
		height: 100%;
		justify-content: space-between;
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: center;
		position: static;
		z-index: 10;
	}

	.logo,
	.social {
		display: none;
	}

	.container {
		height: 100%;
		width: 100%;
	}

	.footer {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		position: absolute;
		bottom: 5rem;
		z-index: -1;
	}

	.footer_social {
		font-size: 5rem;
	}

	.search {
		width: 90%;
	}

	.main {
		padding: 0;
		width: 100%;
	}
}
