@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
}

:root {
  /* COLORS */
  --bg: #fafafa;
  --font: #0c151d;
  --blue: #2c6aa1;
  --lightblue: #c4e3fb;
  --darkblue: #1f3246;
}
